@font-face {
  font-family: 'DSEG7';
  src: url('fonts/DSEG7ClassicMini-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

body {
	min-height: 100vh;
	display: flex;
  	justify-content: center;
  	align-items: center;
	margin: 0;
	font-family: sans-serif;
	/*text-align: center;*/
}

mainContainer {
	width: 650px;
	background-color: #182042;
	border-radius:15px;
	padding:0 0 20px;
	text-align: center;
}

scoreContainer {
	display:flex;
	justify-content: space-around;
	padding: 15px 25px;;
}

teamContainer{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 2px solid white;
	padding: 10px;
}

score{
	width: 200px;
	height: 80px;
	background-color:black;
	border-radius: 5px;
	margin:0 25px 50px;
	color: red;
	padding: 10px 0px;
	font-family: 'DSEG7', monospace;
	font-size: 70px;
	color: red;
	text-align: center;
	border: 1px solid yellow;
}

buttonWrapper{
	display:block;
	margin-top:20px;
}

.score-btn {
	width: 55px;
	height: 55px;
	border-radius: 3px;
	border: 1px solid white;
	background: transparent;
	color:whitesmoke;
	margin:5px;
	font-size: 20px;
}

.reset-btn {
	border-radius: 3px;
	border: 3px solid white;
	background-color: whitesmoke;
	color:black;
	margin:5px;
	padding: 5px 40px;
	font-size: 20px;
}

button:hover {
  background-color: #04AA6D;
	border-radius: 6px;
	border: 3px solid white;
}

h1 {
	color:white;
}

h2 {
	color:#F1FAEE;
	margin:0 0 5px;
}